

button {
  background: #ff8c42;
  color: #2b1e1e;
  padding: 14px 26px;
  border: none;
  border-radius: 6px;
  font-family: "Courier New", monospace;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 4px solid #cc6f2f;
}

button:hover {
  transform: translateY(2px);
  border-bottom: 2px solid #cc6f2f;
}