html, body, #root {
  height: 100%;
  margin: 0;
}

body {

  
  background: #f4f6f8;
  font-family: Arial, Helvetica, sans-serif;
  
}

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

:root {
  --neon-pink: #ff4d6d;
  --neon-orange: #ff8c42;
  --neon-yellow: #ffd166;
  --dark-brown: #2b1e1e;
  --card-brown: #3b2a2a;
  --text-cream: #ffe8d6;
  --border: #ff8c42;
}

#root {
 

  font-family: "Courier New", monospace;
  background: linear-gradient(
    to bottom,
    #ff8c42,
    #ff4d6d,
    #2b1e1e
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  
}

h1, h2, h3, h4, p {
  margin: 0;
}

li {
   list-style-type: none;
}

img {
  width: 100px;
  height: auto;
  border: 2px black solid;
}

